<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IR Project</title>
</head>

<body>
    <form action="" method="post">

        <label for="queryInput">Query:</label>
        <input type="text" name="queryInput" id="queryInput">
        <input type="submit" value="search">

    </form>
</body>
<form action="generate_docs_vs" method="">
    <input type="submit" value="generate files">

</form>

</html>